.container{
    padding-bottom: 30px;
}

.btn-block{
    margin-bottom: 30px;
}

.page-heading{
    text-align: center;
    margin: 50px;
}

/* Cmmments-page */
body{margin:0px;}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

