</html>
{% extends 'base.html' %}


{% block content %}
<div class="container">

    <div class="page-heading">
        <h1>What do you want to learn?</h1>
        <p>Find the Best Courses & Tutorials here</p>
    </div>

    <div class="row flex">
        {% for keyword in keywords %}
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <a class="btn btn-lg btn-block btn-outline-dark" href="#" role="button"><img
                    src="{{keyword.logo.url}}"
                    height="50">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{keyword.keyword}}
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}