{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% if course %}

    <div class="card" style="padding: 20px 0 20px 0; margin-top: 20px">
        <div class="card-body row flex d-flex justify-content-center">

            <div class="col-lg-1 col-xs-6">
                <img src="{{course.provider.provider_logo.url}}" height="" width="75" alt="">
            </div>

            <div class="col-lg-9 col-xs-12">
                <h4 class="card-title">{{course.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{course.provider}} &nbsp;|&nbsp; {{course.author}}</h6>
                    <p class="card-text">{{course.description}}</p>
                    <span class="badge badge-warning badge-pill" data-toggle="tooltip" data-placement="bottom"
                        title="This is a {{course.course_type}} course">{{course.course_type}}</span>
                    &nbsp;
                    <span class="badge badge-info badge-pill" data-toggle="tooltip" data-placement="bottom"
                        title="This course contains {{course.Medium}} tutorials">{{course.Medium}}</span>
                    &nbsp;

            </div>
            <div class="col-lg-2 col-xs-12" style="text-align: center">
                <a class="btn btn-outline-success btn-lg" style="font-size: 15px; margin-bottom: 5px"
                    href="{% url 'courseLink' course_name=course.title %}" role="button"> <i
                        class="fas fa-external-link-alt"></i><br>Open Course
                </a>
                <br>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="page-heading">
        <h2><i class="far fa-comment-alt"></i>&nbsp; Comments</h2>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>{{message|linebreaks}}</strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}

            <form class="form-group" method="POST" action="{% url 'postComment' course_id=course.id %}">
                {% csrf_token %}
                <label for="exampleFormControlTextarea1">Add a public comment</label>
                <textarea class="form-control" name="content_data" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Write a comment..."></textarea>
                <button class="btn btn-info" style="float: right; margin:10px; background-color:#186b7e"
                    type="submit">Post Comment</button>
            </form>
            <div class="clearfix"></div>
            <hr>
            <h5 style="margin-bottom: 5px;">All comments</h5>
            {% if not comments %}
                <h5 style="text-align: center; padding:30px">It's quite empty in here<br>Be the first one to comment</h5>
            {% endif %}
            {% for comment in comments %}
            <div class="card row" style="padding: 0 10px 0px 10px;">
                <div class="card-body col-xs-12">
                    <div class="row">
                        <div class="col-md-10">
                            <span style="margin-bottom: 1px;">{{comment.user.first_name}}
                                {{comment.user.last_name}}</span>&nbsp;
                            <span class="card-subtitle text-muted">(@{{comment.user}}) </span>
                            <p style="padding: 5px 20px;">{{comment.content}}</p>
                        </div>
                        <div class="col-md-2" style="text-align:right;">
                            <p class="text-muted" style="font-size: 0.7em;">
                                {{comment.timestamp|timesince}} ago
                            </p>
                        </div>
                    </div>

                    <div class="row" style="border-left: 5px solid #c3c6c9; margin:10px 0 20px 15px">
                        {% for reply in comment.children %}
                        <div class="col-md-10" style="margin: 0 0 10px 0;">
                            <span style="margin-bottom: 1px;">{{reply.user.first_name}}
                                {{reply.user.last_name}}</span>&nbsp;
                            <span class="card-subtitle text-muted">(@{{reply.user}}) </span>
                            <p style="padding: 5px 20px;">{{reply.content}}</p>
                        </div>
                        <div class="col-md-2" style="text-align:right;">
                            <p class="text-muted" style="font-size: 0.7em;">
                                {{reply.timestamp|timesince}} ago
                            </p>
                        </div>
                        {% endfor %}
                    </div>

                    <button type="button" class="row" data-toggle="collapse" data-target="#reply{{comment.id}}"
                        style="color:darkcyan; margin-bottom: 5px; margin-left:20px"><i class="fas fa-reply"></i>&nbsp; Reply</button>
                    <div id="reply{{comment.id}}" class="col-md-12 collapse">
                        <form class="form-group row" method="POST"
                            action="{% url 'postComment' course_id=course.id parent_id=comment.id %}"
                            style="padding: 0 10px 0px 10px;">
                            {% csrf_token %}
                            <div class="col-md-11">
                                <textarea class="form-control" name="content_data" id="exampleFormControlTextarea1"
                                    rows="1" placeholder="Write a reply..."></textarea>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-info" style="background-color:#186b7e;" type="submit"><i
                                        class="fas fa-caret-right fa-lg"></i></button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
                {% endfor %}
            </div>
            <div class="col-md-1"></div>
        </div>

    </div>


    {% endblock %}