{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="page-heading">
        <h1>Choose your course</h1>
        <!-- <p>Find the Best Courses & Tutorials here</p> -->
    </div>
    {% for course in courses %}
    <div class="card">
        <div class="card-body row flex">

            <div class="col-lg-1">
                <a class="btn btn-light btn-block btn-lg" style="font-size: 20px" href="#" role="button"> <i
                        class="fas fa-caret-up fa-lg"></i><br>10
                </a>


            </div>
            <div class="col-lg-1">
                <img src="{{course.provider.provider_logo.url}}" height="" width="75" alt="">
            </div>
            <div class="col-lg-8">
                <h4 class="card-title">{{course.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{course.provider}}</h6>
                    <p class="card-text">{{course.description}}</p>
                    <span class="badge badge-warning badge-pill" data-toggle="tooltip" data-placement="bottom"
                        title="This is a {{course.course_type}} course">{{course.course_type}}</span>
                    &nbsp;
                    <span class="badge badge-info badge-pill" data-toggle="tooltip" data-placement="bottom"
                        title="This course contains {{course.Medium}} tutorials">{{course.Medium}}</span>
                    &nbsp;

            </div>
            <div class="col-lg-2" style="text-align: center">
                <a class="btn btn-outline-success btn-lg" style="font-size: 15px; margin-bottom: 5px"
                    href="{% url 'courseLink' course_name=course.title %}" role="button"> <i
                        class="fas fa-external-link-alt"></i><br>Open Course
                </a>
                <a href="">Reviews</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}