{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="page-heading">
        <h1><img src="{{keyword.logo.url}}" alt="keyword-logo" height="50">&nbsp;&nbsp;{{keyword.keyword}} courses and tutorials</h1>
        <!-- <p>Find the Best Courses & Tutorials here</p> -->
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{message|linebreaks}}</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% for course,count in countList %}
    <div class="card" style="padding: 20px 0 20px 0;">
        <div class="card-body row flex d-flex justify-content-center">

            <div class="col-lg-1 col-xs-6">
                <a class="btn btn-light btn-block btn-lg" style="font-size: 20px" href="{% url 'upvote' course_title=course.title keyword=course.keyword.keyword %}" role="button"> <i
                        class="fas fa-caret-up fa-lg"></i><br>{{course.votes}}
                </a>
            </div>

            <div class="col-lg-1 col-xs-6">
                <img src="{{course.provider.provider_logo.url}}" height="" width="75" alt="">
            </div>

            <div class="col-lg-8 col-xs-12">
                <h4 class="card-title">{{course.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{course.provider}} &nbsp;|&nbsp; {{course.author}}</h6>
                    <p class="card-text">{{course.description}}</p>
                    <span class="badge badge-warning badge-pill" data-toggle="tooltip" data-placement="bottom"
                        title="This is a {{course.course_type}} course">{{course.course_type}}</span>
                    &nbsp;
                    <span class="badge badge-info badge-pill" data-toggle="tooltip" data-placement="bottom"
                        title="This course contains {{course.Medium}} tutorials">{{course.Medium}}</span>
                    &nbsp;

            </div>
            <div class="col-lg-2 col-xs-12" style="text-align: center">
                <a class="btn btn-outline-success btn-lg" style="font-size: 15px; margin-bottom: 5px"
                    href="{% url 'courseLink' course_name=course.title %}" role="button"> <i
                        class="fas fa-external-link-alt"></i><br>Open Course
                </a>
                <br>
                <a href="{% url 'comments' course_id=course.id %}">{{count}} comments</a>
                <!-- <a href="">Reviews</a> -->
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}